@import '../../../../scss/index.scss';

.list-users{

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-right: 30px;
        
        &-btn-new-user{
            background-color: $primary-color !important;
            border:0px;
            color:$font-light !important;

            :active{
                background-color:$primary-color-hover !important;
                border:0px;
                color:$font-light !important;
            }
            
            
        }

        &-switch{
            display: flex;
            align-items: center;
            margin: 30px;
    
            >button{
                margin-right: 20px;
            }
        }
    }


    

    .users-active{
        background-color: white;
        padding:10px 30px;
        margin:30px;

        .ant-list-item-meta{
            display: flex;
            align-items: center;
        }
    }
    .users-inactive{
        background-color: white;
        padding:10px 30px;
        margin:30px;

        .ant-list-item-meta{
            display: flex;
            align-items: center;
        }
    }
}