@import '../../../../scss/index.scss';

.navigation-footer{

    margin:0px 20px;

    h3{
        color: $font-light;
        
        text-align: center;
        margin: 20px 0px;
        font-size: 18px;
        text-transform: uppercase;

    }

    ul{
        padding:5px;

        li{
            list-style: none;
            padding: 5px 0;

            a{
                color: $primary-color-dark;
                &:hover{
                    color:$primary-color;
                }
            }


        }
        
    }
}