$defaultFontSize: 16px;

$primary-color: #a07e39;
$primary-color-hover: #584621;
$primary-color-light:#815703;
$primary-color-dark:#7e5b17;



$menu-color:#f3d8a1;

$font-light: #fff;
$font-grey-light: #e8e8e8;
$font-grey: #808080;
$font-grey-dark:#000;
$font-dark-light:#7e6431;
$font-dark:#584621;

$border-light: #fff;
$border-grey-light: #e8e8e8;
$border-grey: #808080;
$border-grey-dark:#595959;
$border-dark-light:#252527;
$border-dark:#000;

$background-light: #fff;
$background-grey-light: #fbf0da;
$background-grey: #f5deb1;
$background-grey-dark:#f5cf83;
$background-dark-light:#f3d8a1;
$background-dark:#000;
$background-error:#7c5b19;
$background-success:#e9a41b;
$background-dark-web:#f3d8a1;
$background-dark-light-web: #e6c075;


$box-shadow: #4735104d;



$success: #84b84c;
$error: #f00;
$warning:orange;


$youtube: #cd201f;
$facebook:#3b5998;
$twitter:#1d1af2;
//$instagram:
$linkedin:#0077b5;

//responsive down size

$media-breakpoint-down-xs:413.98px;
$media-breakpoint-down-sm:573.98px;
$media-breakpoint-down-md:767.98px;
$media-breakpoint-down-lg:991.98px;
$media-breakpoint-down-xl:1199.98px;

//responsive up size

$media-breakpoint-up-xs:320px;
$media-breakpoint-up-sm:576px;
$media-breakpoint-up-md:768px;
$media-breakpoint-up-lg:992px;
$media-breakpoint-up-xl:1200px;


