@import '../../../scss/index.scss';

.home-products{
    margin-top: 150px;
    margin-bottom: 150px;

    &__title{
        text-align: center;

        h2{
            color: $font-dark;
            font-weight: bold;
            font-size: 32px;
            text-transform: uppercase;
        }
    }

    .row-products{
        .ant-col{
            padding:25px !important;

        }
    }

    &__card{
        border: 0px;
        background-color: $background-dark-web;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 0px 0px 10px 2px $box-shadow;
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;


        .ant-card-body{
            text-align: center;

            .ant-card-meta-title,
            .ant-card-meta-description{
                color: $font-dark;
            }
            .ant-card-meta-title{
                font-weight: bold;
            }
        }

        .ant-card-actions{
            background-color: transparent;
            border:0;

            button{
                width: 90%;
                height: 35px;
                background-color: transparent;
                color: $font-dark;
                border:1px solid $primary-color;
                
            }
        }
    }

    &__more{
        text-align: center;

        button{
            background-color: $primary-color;
            border: 0;
            color: $font-dark;
            width:200px;
            height: 40px;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;

            &:hover{
                background-color: $primary-color-hover;
                color:$font-light;
            }
        }
    }
}